{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'node_modules/reveal.js/dist/reveal.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/reveal.js/dist/theme/black.css' %}" />
    <script src="{% static 'node_modules/reveal.js/dist/reveal.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/9738b737cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monomaniac+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="reveal">
        <div class="slides">
            <section data-background-gradient="linear-gradient(to bottom, #e9f0f1, #8ecae6)"
                     class="!h-screen !flex items-center justify-center flex-col relative slow-animation"
                     data-auto-animate>

                <!-- <div data-id="bg" class="!rounded-full p-10 absolute right-0 top-20" style="background: #023047;"></div> -->

                <div data-id="bg" class="!rounded-full  p-10 absolute right-0 top-20" style="background: #2B59C3FF;"></div>


                <svg data-id="blob" class="absolute" style="left: -70vw; bottom: -70vh;" width="150%" height="150%" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#2B59C3FF" d="M58.2,-18.1C62.8,-4.8,45.2,16.6,28.8,25C12.5,33.4,-2.5,28.8,-14.3,20.1C-26.1,11.5,-34.5,-1.2,-31.6,-12.3C-28.7,-23.3,-14.3,-32.6,6.2,-34.6C26.8,-36.6,53.6,-31.4,58.2,-18.1Z" transform="translate(100 100)" />
                </svg>

                <div class="absolute top-10 left-0 flex items-center justify-center">
                    <div class="rounded-full px-2 py-2" style="background: #1e4684">
                        <img src="{% static 'monitor.png' %}" alt="" class="!m-0" style="width: 13px;">
                    </div>
                    <p class="archivo !font-bold !text-lg" style="color: #063050 !important">Just'Goat</p>
                </div>

                <h1 class="z-999 title archivo !text-7xl whitespace-nowrap !font-black
                 w-full" style="color: #063050 !important;">Présentation</h1>


                <div data-id="title-bg" class="absolute" style="width: 3000%; top: 24.3rem; !important; background: #2B59C3FF; height: 6rem"></div>

                <h2 data-id="title" class="z-999 title archivo !text-6xl whitespace-nowrap
                !font-black py-3 !m-0"
                    style="
                    color: #f4f4f4 !important;">
                    Make It Code
                </h2>

                <p class="!m-0 !mt-3 sora !text-2xl !font-bold" style="color: #063050 !important;">“Apprendre le développement en pratiquant”</p>

            </section>


            <section data-background-gradient="linear-gradient(to bottom, #e9f0f1, #8ecae6)"
                     class="!h-screen !flex items-center py-16 flex-col relative slow-animation" data-auto-animate
                     data-auto-animate-easing=
                             "cubic-bezier(0.860, 0.000, 0.070, 1.000)">


                <div data-id="bg" class="!rounded-full  p-10 absolute right-0 top-20" style="background: #2B59C3FF;"></div>


                <svg data-id="blob" class="absolute" style="left: -90vw; bottom: -60vh;" width="150vw" height="150vh" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#2B59C3FF" d="M58.2,-18.1C62.8,-4.8,45.2,16.6,28.8,25C12.5,33.4,-2.5,28.8,-14.3,20.1C-26.1,11.5,-34.5,-1.2,-31.6,-12.3C-28.7,-23.3,-14.3,-32.6,6.2,-34.6C26.8,-36.6,53.6,-31.4,58.2,-18.1Z" transform="translate(100 100)" />
                </svg>

                <div data-id="title-bg" class="absolute" style="width: 0.1%; top: 25.5rem; !important;
                background: rgba(43,89,195,0); height: 6rem"></div>

                <div data-id="band" class="bandeau" style="
                      top: -20px;
                      right: -20px;
                       height: 1px;"
                ></div>


                <!--<div data-id="bg" class="!rounded-full p-10 absolute" style="background: #023047; width: 400%; height: 400%"></div>-->


                <h2 data-id="title" class="z-999 title archivo !text-6xl whitespace-nowrap
                !font-black py-3"
                    style="color: #063050 !important;">
                    Make It Code
                </h2>


                <div class="fragment fade-in-then-out absolute" style="top:20vh;">
                    <p class="sora font-bold !text-4xl !mb-10 !mt-0" style="color: #063050 !important;">L'équipe de Just'Goat</p>
                    <div class="flex flex-wrap gap-6 justify-center">
                        <div class="flex flex-col items-center">
                            <img src="/MIC_WEB/MIC_WEB/static/personne.jpg" alt="" class="!m-0 inset-shadow-sm" style="max-width: 200px">
                            <div class="w-full h-1 bg-indigo-500 shadow-lg shadow-indigo-500/50"></div>
                            <h4 class="!text-xl w-full text-left !ml-12 !mb-0 !mt-5 !tracking-widest monomaniac"
                                style="color: #063050 !important;">Mathys</h4>
                            <p class="!text-lg w-full text-left !font-light !ml-12 !mt-0 monomaniac"
                               style="color: #063050 !important;">Développeur</p>
                        </div>
                        <div class="flex flex-col items-center">
                            <img src="/MIC_WEB/MIC_WEB/static/personne.jpg" alt="" class="!m-0 inset-shadow-sm" style="max-width: 200px">
                            <div class="w-full h-1 bg-indigo-500 shadow-lg shadow-indigo-500/50"></div>
                            <h4 class="!text-xl w-full text-left !ml-12 !mb-0 !mt-5 !tracking-widest monomaniac"
                                style="color: #063050 !important;">Inès</h4>
                            <p class="!text-lg w-full text-left !font-light !ml-12 !mt-0 monomaniac"
                               style="color: #063050 !important;">Développeur</p>
                        </div>
                        <div class="flex flex-col items-center">
                            <img src="/MIC_WEB/MIC_WEB/static/personne.jpg" alt="" class="!m-0 inset-shadow-sm" style="max-width: 200px">
                            <div class="w-full h-1 bg-indigo-500 shadow-lg shadow-indigo-500/50"></div>
                            <h4 class="!text-xl w-full text-left !ml-12 !mb-0 !mt-5 !tracking-widest monomaniac"
                                style="color: #063050 !important;">Clément</h4>
                            <p class="!text-lg w-full text-left !font-light !ml-12 !mt-0 monomaniac"
                               style="color: #063050 !important;">Développeur</p>
                        </div>
                        <div class="flex flex-col items-center">
                            <img src="/MIC_WEB/MIC_WEB/static/personne.jpg" alt="" class="!m-0 inset-shadow-sm" style="max-width: 200px">
                            <div class="w-full h-1 bg-indigo-500 shadow-lg shadow-indigo-500/50"></div>
                            <h4 class="!text-xl w-full text-left !ml-12 !mb-0 !mt-5 !tracking-widest monomaniac"
                                style="color: #063050 !important;">Matéis</h4>
                            <p class="!text-lg w-full text-left !font-light !ml-12 !mt-0 monomaniac"
                               style="color: #063050 !important;">Développeur
                                <br> Scrum Master</p>
                        </div>
                    </div>
                </div>
                <div class="fragment">
                    <p class="sora font-bold !text-4xl !mb-10 !mt-0" style="color: #063050 !important;">Pourquoi cette application?</p>
                    <p class="sora !text-2xl" style="color: #063050 !important;">Pour apprendre à coder avec des projets concrets et oublier la théorie classique.</p>
                    <img class="absolute z-999" style="right: -7vw; bottom: 3vh;" src="{% static 'robot.png' %}" alt="">
                </div>
            </section>

            <section data-background-gradient="linear-gradient(to top, #e9f0f1, #8ecae6)"
                     class="!h-screen !flex items-center py-16 flex-col relative slow-animation">

                <div data-id="bg" class="!rounded-full p-10 absolute right-0 bottom-30" style="background: #2B59C3FF;">
                </div>


                <!--<img class="absolute z-999 top-0" style="right: 2vw;" src="{% static 'phone.png' %}" alt="">-->

                <svg data-id="blob" class="absolute" style="left: -90vw; top: -78.2vh" width="150vw" height="150vh" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#2B59C3FF" d="M58.2,-18.1C62.8,-4.8,45.2,16.6,28.8,25C12.5,33.4,-2.5,28.8,-14.3,20.1C-26.1,11.5,-34.5,-1.2,-31.6,-12.3C-28.7,-23.3,-14.3,-32.6,6.2,-34.6C26.8,-36.6,53.6,-31.4,58.2,-18.1Z" transform="translate(100 100)" />
                </svg>

                <h2 data-id="title" class="z-999 title archivo !text-5xl whitespace-nowrap
                !font-black py-3 w-full" style="margin-top: 30px !important; color: #063050 !important;">
                    Les Technologies
                </h2>


                <div class="absolute left-20 top-50">
                    <div class="flex flex-col items-center gap-4 justify-center">
                        <img src="{% static 'flutter.png' %}" alt="" style="max-width: 40px">
                        <!--<p class="sora !text-3xl !font-bold" style="color: #063050 !important;">Flutter</p>-->
                        <div class="flex gap-4 items-center justify-center">
                            <div class="px-3 py-3 max-w-4 max-h-4" style="background: #4f9ff5"></div>
                            <p class="sora !text-2xl !font-bold !m-0" style="color: #063050 !important;">Flutter</p>
                        </div>
                    </div>
                </div>

            </section>

            <section data-background-gradient="linear-gradient(to bottom, #e9f0f1, #8ecae6)" data-auto-animate
                     class="!h-screen !flex items-center py-16 flex-col relative slow-animation">



            </section>

            <section data-background-color="#bde0fe" class="!h-screen !flex items-center justify-center flex-col relative slow-animation" data-auto-animate>
                <div data-id="bg" class="!rounded-full  p-10 absolute right-0 top-20" style="background: #023047;"></div>
                <h1 data-id="title" class="z-999 title sora !text-8xl whitespace-nowrap !font-extrabold w-full absolute" >Presentation de <br> Make It Code</h1>
                <svg data-id="box" class="absolute" style="left: -30vw;" width="100%" height="100%" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#023047" d="M35.7,-33.7C50.1,-21.2,68.3,-10.6,70.4,2.1C72.5,14.8,58.4,29.6,44,39.3C29.6,49,14.8,53.7,0.3,53.4C-14.2,53.1,-28.5,47.9,-43.4,38.2C-58.3,28.5,-73.8,14.2,-78.4,-4.6C-82.9,-23.3,-76.5,-46.7,-61.6,-59.1C-46.7,-71.6,-23.3,-73.1,-6.4,-66.8C10.6,-60.4,21.2,-46.1,35.7,-33.7Z" transform="translate(100 100)"/>
                </svg>
            </section>
        </div>
    </div>
</body>
<script>
    Reveal.initialize({
        view: 'scroll',
        scrollProgress: true,
    });
</script>
</html>
