{%load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="shadow-wrap">
        <div class="form-wrap">
            <h1>Inscription</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Envoyer</button>
                <p>Déjà un compte ? <br><a href="{% url 'app:login' %}">Se connecter ici</a></p>
            </form>
        </div>
    </div>
</body>
</html>
